body {
    margin: 0;
    min-height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;

}


img {
    width: 350px;
    height: 200px;
}

/* Header style starts here*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px;
    background-color: #1F2937;
    
}

.header>.left-content>.text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;

}


.header>.right-content {
    gap: 12px;
}

/* Header style ends here*/

/* Content style starts here*/

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center, stretch;
    /*temporary*/
    gap: 40px;
}

.header-content {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 48px 200px;
}

.header-content>.left-content>.header-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding-right: 12px;
}

.header-content>.left-content>.text {
    
    color: #F9FAF8;
    padding: 8px 12px 8px 0px;

}



/* Sign up button text color to be edited next */ 




button {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}




ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.content-images {
    width: 120px;
    height: 100px
}